.head {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #210f31;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.1);
    padding: 0 10%;
}

header > * {
    text-decoration: none;
    font-size: 20px;
    margin-left: 1rem;
}

.head .active{
   color: #d297ff;
}

@media screen and (max-width: 800px){
    .head{
        padding: 0;
    }
}