/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-size: 20px;
    color: rgb(252, 234, 255);
   
    background-color: #140024;
}

a, a:hover{
    color: rgb(252, 234, 255);
    text-decoration: none;
    
}

.school_item_header a{
    color: #b66dee;
    font-size: 1.3em;
}

.app {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.school-wrapper {
    width: 100%;
}

.content-side {
    max-width: 60%;
    width: 50%;
    min-width: 300px;
    margin-left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
}
.school_item_header{
    -webkit-transition: all .3s cubic-bezier(.28,-0.43,.89,1.46);
    -o-transition: all .3s cubic-bezier(.28,-0.43,.89,1.46);
    transition: all .3s cubic-bezier(.28,-0.43,.89,1.46);
}

.school_item{
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
    position: relative;
    background-color: #1e0d2c;
    opacity: .9;
    margin: .8em;
    padding: .2em;
    height: 32em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.289), 
        -4px -3px 12px 0px rgba(255, 255, 255, 0.085),
        10px 10px 50px -5px rgba(0, 0, 0, 0.1) inset, 
        -10px -10px 50px -5px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.289), 
        -4px -3px 12px 0px rgba(255, 255, 255, 0.085),
        10px 10px 50px -5px rgba(0, 0, 0, 0.1) inset, 
        -10px -10px 50px -5px rgba(0, 0, 0, 0.1) inset;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid #ffffff1c;
    border-left: 1px solid #ffffff1c;
}
.school_item_button{
    z-index: 300;
    -moz-z-index: 300;
    overflow: hidden;
    opacity: .3;
    font-size: .8em;
    -webkit-transform: translateY(calc(100% + 1.2em));
        -ms-transform: translateY(calc(100% + 1.2em));
            transform: translateY(calc(100% + 1.2em));
    position: absolute;
    bottom: 1em;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    right: 1em;
    padding: .6em;
    outline: none;
    border-radius: 3px;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    color: #868686;
    border-top: 1px solid #ffffff57;
    border-left: 1px solid #ffffff57;
    background-color: #b66dee25;
    -webkit-box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.2);
}

.school_item:hover .school_item_button{
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    cursor: pointer;
}
.school_item:hover .school_item_header{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.school_item:hover{
    -webkit-box-shadow: -7px -7px 10px 0px rgba(0, 0, 0, 0.289), 7px 7px 12px 0px rgba(255, 255, 255, 0.085);
            box-shadow: -7px -7px 10px 0px rgba(0, 0, 0, 0.289), 7px 7px 12px 0px rgba(255, 255, 255, 0.085);
}
.school_item_button:hover {
    color: #e9d0fc !important;
    outline: none;
    border-radius: 4px;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    border-top: 1px solid #ffffff5b;
    border-left: 1px solid #ffffff60;
}

.school_item_button_line{
    position: absolute;
    top: 0;
    left: -2em;
    width: 1em;
    height: 120%;
    background-color:#b66dee;
    -webkit-transform: skewX(-30deg);
        -ms-transform: skewX(-30deg);
            transform: skewX(-30deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.school_item_button:hover .school_item_button_line{
    left: 120%;
}




.school_item_description{
    border-radius: 4px;
    z-index: 200;
    -moz-zindex: 200;
    position: absolute;
    top: 120%;
    left: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    background-color: #b66dee11;
    padding: .5em;
}

.school_item:hover .school_item_description{
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
}
    

.school_item_description_intro{
    height: 60%;
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical
}

.school_header{
    color:#b66dee;
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
}
.school_content li{
    margin: 0.5em 0;
    cursor: pointer;
}
.school_content{
    background-color: #230e34;
    padding: 1em;
    border-radius: 6px;
    margin: 1em 0em;
    position: relative;
}
.school_presenters{
    margin: 1em 0em;
}
.common_info{
    margin: 0.8em 0em;
    text-align: center;
    font-size: 1.2em; 
}
.go_back{
    position: absolute;
    left: -2em;
    top:0;
    font-size: 1.5em;
}










.cssload-dots {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	outline: 1px solid red;
	filter: url(#goo);
		-o-filter: url(#goo);
		-ms-filter: url(#goo);
		-webkit-filter: url(#goo);
		-moz-filter: url(#goo);
}

.cssload-dot {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.cssload-dot:before {
	content: "";
	width: 34px;
	height: 34px;
	border-radius: 49px;
	background: rgb(251,211,1);
	position: absolute;
	left: 50%;
	transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
	margin-left: -17.5px;
	margin-top: -17.5px;
}



.cssload-dot:nth-child(5):before {
	z-index: 100;
	width: 44.5px;
	height: 44.5px;
	margin-left: -21.75px;
	margin-top: -21.75px;
	animation: cssload-dot-colors 4.6s ease infinite;
		-o-animation: cssload-dot-colors 4.6s ease infinite;
		-ms-animation: cssload-dot-colors 4.6s ease infinite;
		-webkit-animation: cssload-dot-colors 4.6s ease infinite;
		-moz-animation: cssload-dot-colors 4.6s ease infinite;
}


.cssload-dot:nth-child(1) {
	animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-o-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-ms-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-webkit-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-moz-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
}
.cssload-dot:nth-child(1):before {
	background-color: rgb(255,50,112);
	animation: cssload-dot-move 4.6s 0s ease infinite;
		-o-animation: cssload-dot-move 4.6s 0s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 0s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 0s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
	animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-o-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-ms-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-webkit-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-moz-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
}
.cssload-dot:nth-child(2):before {
	background-color: rgb(32,139,241);
	animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-o-animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 1.15s ease infinite;
}

.cssload-dot:nth-child(3) {
	animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-o-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-ms-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-webkit-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-moz-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
}
.cssload-dot:nth-child(3):before {
	background-color: rgb(175,225,2);
	animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-o-animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 2.3s ease infinite;
}

.cssload-dot:nth-child(4) {
	animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-o-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-ms-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-webkit-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-moz-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
}
.cssload-dot:nth-child(4):before {
	background-color: rgb(251,211,1);
	animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-o-animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 3.45s ease infinite;
}

@keyframes cssload-dot-move {
	0% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	18%, 22% {
		-webkit-transform: translateY(-68px);
		        transform: translateY(-68px);
	}
	40%, 100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@-webkit-keyframes cssload-dot-move {
	0% {
		-webkit-transform: translateY(0);
	}
	18%, 22% {
		-webkit-transform: translateY(-68px);
	}
	40%, 100% {
		-webkit-transform: translateY(0);
	}
}

@keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-webkit-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@keyframes cssload-dot-rotate-1 {
	0% {
		-webkit-transform: rotate(-105deg);
		        transform: rotate(-105deg);
	}
	100% {
		-webkit-transform: rotate(270deg);
		        transform: rotate(270deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-1 {
	0% {
		-webkit-transform: rotate(-105deg);
	}
	100% {
		-webkit-transform: rotate(270deg);
	}
}

@keyframes cssload-dot-rotate-2 {
	0% {
		-webkit-transform: rotate(165deg);
		        transform: rotate(165deg);
	}
	100% {
		-webkit-transform: rotate(540deg);
		        transform: rotate(540deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-2 {
	0% {
		-webkit-transform: rotate(165deg);
	}
	100% {
		-webkit-transform: rotate(540deg);
	}
}

@keyframes cssload-dot-rotate-3 {
	0% {
		-webkit-transform: rotate(435deg);
		        transform: rotate(435deg);
	}
	100% {
		-webkit-transform: rotate(810deg);
		        transform: rotate(810deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-3 {
	0% {
		-webkit-transform: rotate(435deg);
	}
	100% {
		-webkit-transform: rotate(810deg);
	}
}

@keyframes cssload-dot-rotate-4 {
	0% {
		-webkit-transform: rotate(705deg);
		        transform: rotate(705deg);
	}
	100% {
		-webkit-transform: rotate(1080deg);
		        transform: rotate(1080deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-4 {
	0% {
		-webkit-transform: rotate(705deg);
	}
	100% {
		-webkit-transform: rotate(1080deg);
	}
}