.app {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.school-wrapper {
    width: 100%;
}

.content-side {
    max-width: 60%;
    width: 50%;
    min-width: 300px;
    margin-left: 50%;
    transform: translate(-50%);
}